<div class="col-2"></div>
                                <div class="category">
                                    <span class="category-heading">Bottomwear</span>
                                    <div class="category-items">
                                        <a href=""> Jeans </a>
                                        <br>
                                        <a href=""> Casual Trousers </a>
                                        <br>
                                        <a href=""> Formal Trousers </a>
                                        <br>
                                        <a href=""> Shorts </a>
                                        <br>
                                        <a href=""> Track Pants & Joggers </a>
                                        <br>
                                        <a href=""> Jackets </a>
                                        <br>
                                    </div>
                                    <hr class="horizontal-line2">
                                </div>
                                <div class="category">
                                    <span class="category-heading">Innerwear & Sleepwear</span>
                                    <div class="category-items">
                                        <a href=""> Briefs & Trunks </a>
                                        <br>
                                        <a href=""> Boxers </a>
                                        <br>
                                        <a href=""> Vests </a>
                                        <br>
                                        <a href=""> Sleepwear & Loungewear </a>
                                        <br>
                                        <a href=""> Thermals </a>
                                        <br>
                                    </div>
                                    <hr class="horizontal-line2">
                                </div>
                                <div class="category">
                                    <span class="category-heading">Plus Size</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="category">
                                    <span class="category-heading">Footwear</span>
                                    <div class="category-items">
                                        <a href=""> Casual Shoes </a>
                                        <br>
                                        <a href=""> Sports Shoes </a>
                                        <br>
                                        <a href=""> Formal Shoes </a>
                                        <br>
                                        <a href=""> Sneakers </a>
                                        <br>
                                        <a href=""> Sandals & Floaters </a>
                                        <br>
                                        <a href=""> Flip Flops </a>
                                        <br>
                                        <a href=""> Socks </a>
                                        <br>
                                    </div>
                                    <hr class="horizontal-line2">
                                </div>
                                <div class="category">
                                    <span class="category-heading">Personal Care & Grooming</span>
                                </div>
                                <div class="category">
                                    <span class="category-heading">Sunglasses & Grooming</span>
                                </div>
                                <div class="category">
                                    <span class="category-heading">Watches</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="category">
                                    <span class="category-heading">Sports & Active Wear</span>
                                    <div class="category-items">
                                        <a href=""> Sports Shoes </a>
                                        <br>
                                        <a href=""> Sports Sandals </a>
                                        <br>
                                        <a href=""> Active T-shirts </a>
                                        <br>
                                        <a href=""> Track Pants & Shorts </a>
                                        <br>
                                        <a href=""> Tracksuits </a>
                                        <br>
                                        <a href=""> Jackets & Sweatshirts </a>
                                        <br>
                                        <a href=""> Sports Accessories </a>
                                        <br>
                                        <a href=""> Swimwear </a>
                                        <br>
                                    </div>
                                    <hr class="horizontal-line2">
                                </div>
                                <div class="category">
                                    <span class="category-heading">Gadgets</span>
                                    <div class="category-items">
                                        <a href=""> Smart Wearables </a>
                                        <br>
                                        <a href=""> Fitness Gadgets </a>
                                        <br>
                                        <a href=""> Headphones </a>
                                        <br>
                                        <a href=""> Speakers </a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="category">
                                    <span class="category-heading">Fashion Accessories</span>
                                    <div class="category-items">
                                        <a href=""> Wallets </a>
                                        <br>
                                        <a href=""> Belts </a>
                                        <br>
                                        <a href=""> Perfumes & Body Mists </a>
                                        <br>
                                        <a href=""> Trimmers </a>
                                        <br>
                                        <a href=""> Deodorants </a>
                                        <br>
                                        <a href=""> Ties, Cuffinks & Pocket Squares </a>
                                        <br>
                                        <a href=""> Accessory Gift Sets </a>
                                        <br>
                                        <a href=""> Caps & Hats </a>
                                        <br>
                                        <a href=""> Mufflers, Scarves & Gloves </a>
                                        <br>
                                        <a href=""> Phone Cases </a>
                                        <br>
                                        <a href=""> Rings & Wristwear </a>
                                        <br>
                                        <a href=""> Helmets </a>
                                        <br>
                                    </div>
                                    <hr class="horizontal-line2">
                                </div>
                                <div class="category">
                                    <span class="category-heading">Bags & Backpacks</span>
                                </div>
                                <div class="category">
                                    <span class="category-heading">Luggages & Trolleys</span>
                                </div>
                            </div>