    {{-- Nav Bar Sub Categories Starts --}}
    <div class="Category-links">
        {{-- Men's Items Section Starts  --}}
        <div class="men-section-items visibility"> <!--Men-->
            <div class="col-1">
                <div class="category">

                    <div class="category-items">

                        <a href=""> T-shirts </a>
                        <br>
                        <a href=""> Casual Shirts </a>
                        <br>
                        <a href=""> Formal Shirts </a>
                        <br>
                        <a href=""> Sweatshirts </a>
                        <br>
                        <a href=""> Sweaters </a>
                        <br>
                        <a href=""> Jackets </a>
                        <br>
                        <a href=""> Blazers&Coats </a>
                        <br>
                        <a href=""> Suits </a>
                        <br>
                        <a href=""> Rain Jackets </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Indian&Festive Wear</span>
                    <div class="category-items">
                        <a href=""> Kurtas & Kurta Sets </a>
                        <br>
                        <a href=""> Sherwanis </a>
                        <br>
                        <a href=""> Nehru Jackets </a>
                        <br>
                        <a href=""> Dhotis </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="category">
                    <span class="category-heading">Bottomwear</span>
                    <div class="category-items">
                        <a href=""> Jeans </a>
                        <br>
                        <a href=""> Casual Trousers </a>
                        <br>
                        <a href=""> Formal Trousers </a>
                        <br>
                        <a href=""> Shorts </a>
                        <br>
                        <a href=""> Track Pants & Joggers </a>
                        <br>
                        <a href=""> Jackets </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Innerwear & Sleepwear</span>
                    <div class="category-items">
                        <a href=""> Briefs & Trunks </a>
                        <br>
                        <a href=""> Boxers </a>
                        <br>
                        <a href=""> Vests </a>
                        <br>
                        <a href=""> Sleepwear & Loungewear </a>
                        <br>
                        <a href=""> Thermals </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Plus Size</span>
                </div>
            </div>
            <div class="col-3">
                <div class="category">
                    <span class="category-heading">Footwear</span>
                    <div class="category-items">
                        <a href=""> Casual Shoes </a>
                        <br>
                        <a href=""> Sports Shoes </a>
                        <br>
                        <a href=""> Formal Shoes </a>
                        <br>
                        <a href=""> Sneakers </a>
                        <br>
                        <a href=""> Sandals & Floaters </a>
                        <br>
                        <a href=""> Flip Flops </a>
                        <br>
                        <a href=""> Socks </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Personal Care & Grooming</span>
                </div>
                <div class="category">
                    <span class="category-heading">Sunglasses & Grooming</span>
                </div>
                <div class="category">
                    <span class="category-heading">Watches</span>
                </div>
            </div>
            <div class="col-4">
                <div class="category">
                    <span class="category-heading">Sports & Active Wear</span>
                    <div class="category-items">
                        <a href=""> Sports Shoes </a>
                        <br>
                        <a href=""> Sports Sandals </a>
                        <br>
                        <a href=""> Active T-shirts </a>
                        <br>
                        <a href=""> Track Pants & Shorts </a>
                        <br>
                        <a href=""> Tracksuits </a>
                        <br>
                        <a href=""> Jackets & Sweatshirts </a>
                        <br>
                        <a href=""> Sports Accessories </a>
                        <br>
                        <a href=""> Swimwear </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Gadgets</span>
                    <div class="category-items">
                        <a href=""> Smart Wearables </a>
                        <br>
                        <a href=""> Fitness Gadgets </a>
                        <br>
                        <a href=""> Headphones </a>
                        <br>
                        <a href=""> Speakers </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="category">
                    <span class="category-heading">Fashion Accessories</span>
                    <div class="category-items">
                        <a href=""> Wallets </a>
                        <br>
                        <a href=""> Belts </a>
                        <br>
                        <a href=""> Perfumes & Body Mists </a>
                        <br>
                        <a href=""> Trimmers </a>
                        <br>
                        <a href=""> Deodorants </a>
                        <br>
                        <a href=""> Ties, Cuffinks & Pocket Squares </a>
                        <br>
                        <a href=""> Accessory Gift Sets </a>
                        <br>
                        <a href=""> Caps & Hats </a>
                        <br>
                        <a href=""> Mufflers, Scarves & Gloves </a>
                        <br>
                        <a href=""> Phone Cases </a>
                        <br>
                        <a href=""> Rings & Wristwear </a>
                        <br>
                        <a href=""> Helmets </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Bags & Backpacks</span>
                </div>
                <div class="category">
                    <span class="category-heading">Luggages & Trolleys</span>
                </div>
            </div>

        </div>
        {{-- Men's Items Section Ends  --}}
        {{-- Women's Items Section Starts  --}}
        <div class="women-section-items visibility"> <!--women-->
            <div class="col-1">
                <div class="category">
                    <span class="category-heading">Indian & Fusion Wear</span>
                    <div class="category-items">
                        <a href=""> Kurtas & Suits </a>
                        <br>
                        <a href=""> Kurtis, Tunics & Tops </a>
                        <br>
                        <a href=""> Sarees </a>
                        <br>
                        <a href=""> Ethnic Wear </a>
                        <br>
                        <a href=""> Leggings, Salwars & Churidars </a>
                        <br>
                        <a href=""> Skirts & Palazzos </a>
                        <br>
                        <a href=""> Dress Materials </a>
                        <br>
                        <a href=""> Lehenga Cholis </a>
                        <br>
                        <a href=""> Dupattas & Shawls </a>
                        <br>
                        <a href=""> Jackets </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Belts, Scarves & More</span>
                </div>
                <div class="category">
                    <span class="category-heading">Watches & Wearables</span>
                </div>
            </div>
            <div class="col-2">
                <div class="category">
                    <span class="category-heading">Western Wear</span>
                    <div class="category-items">
                        <a href=""> Dresses </a>
                        <br>
                        <a href=""> Tops </a>
                        <br>
                        <a href=""> Tshirts </a>
                        <br>
                        <a href=""> Jeans </a>
                        <br>
                        <a href=""> Trousers & Capris </a>
                        <br>
                        <a href=""> Shorts & Skirts </a>
                        <br>
                        <a href=""> Co-ords </a>
                        <br>
                        <a href=""> Playsuits </a>
                        <br>
                        <a href=""> Jumpsuits </a>
                        <br>
                        <a href=""> Shrugs </a>
                        <br>
                        <a href=""> Sweaters & Sweatshirts </a>
                        <br>
                        <a href=""> Jackets & Coats </a>
                        <br>
                        <a href=""> Blazers & Waistcoats </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Plus Size</span>
                </div>
            </div>
            <div class="col-3">
                <div class="category">
                    <span class="category-heading">Maternity</span>
                </div>
                <div class="category">
                    <span class="category-heading">Sunglasses & Frames</span>
                </div>
                <div class="category">
                    <span class="category-heading">Footwear</span>
                    <div class="category-items">
                        <a href=""> Flats </a>
                        <br>
                        <a href=""> Casual Shoes </a>
                        <br>
                        <a href=""> Heels </a>
                        <br>
                        <a href=""> Boots </a>
                        <br>
                        <a href=""> Sports Shoes & Floaters </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Sports & Active Wear</span>
                </div>
            </div>
            <div class="col-4">
                <div class="category">
                    <span class="category-heading">Lingerie & Sleepwear</span>
                    <div class="category-items">
                        <a href=""> Bra </a> </a>
                        <br> </a>
                        <a href=""> Briefs </a> </a>
                        <br> </a>
                        <a href=""> Shapewear </a> </a>
                        <br> </a>
                        <a href=""> Sleepwear & Loungewear </a> </a>
                        <br> </a>
                        <a href=""> Swimwear </a> </a>
                        <br> </a>
                        <a href=""> Camisoles & Thermals </a> </a>
                        <br> </a>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Beauty & Personal Care</span>
                    <div class="category-items">
                        <a href=""> Makeup </a>
                        <br>
                        <a href=""> Skincare </a>
                        <br>
                        <a href=""> Premium Beauty </a>
                        <br>
                        <a href=""> Lipsticks </a>
                        <br>
                        <a href=""> Fragrances </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="category">
                    <span class="category-heading">Gadgets</span>
                    <div class="category-items">
                        <a href=""> Smart Wearables </a>
                        <br>
                        <a href=""> Fitness Gadgets </a>
                        <br>
                        <a href=""> Headphones </a>
                        <br>
                        <a href=""> Speakers </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Jewellery</span>
                    <div class="category-items">
                        <a href=""> Fashion Jewellery </a> </a>
                        <br> </a>
                        <a href=""> Fine Jewellery </a> </a>
                        <br> </a>
                        <a href=""> Earrings </a> </a>
                        <br> </a>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Backpacks</span>
                </div>
                <div class="category">
                    <span class="category-heading">Handbags, Bags & Wallets</span>
                </div>
                <div class="category">
                    <span class="category-heading">Luggages & Troolleys</span>
                </div>
            </div>
        </div>
        {{-- Woen's Items Section Ends  --}}
        {{-- Kid's Items Section Starts  --}}
        <div class="kids-section-items visibility"> <!--KIDS-->
            <div class="col-1">
                <div class="category">
                    <span class="category-heading">Boys Clothing</span>
                    <div class="category-items">
                        <a href=""> T-shirts </a> </a>
                        <br> </a>
                        <a href=""> Shirts </a> </a>
                        <br> </a>
                        <a href=""> Shorts </a> </a>
                        <br> </a>
                        <a href=""> Jeans </a> </a>
                        <br> </a>
                        <a href=""> Trousers </a> </a>
                        <br> </a>
                        <a href=""> Clothing Sets </a> </a>
                        <br> </a>
                        <a href=""> Ethnic Wear </a> </a>
                        <br> </a>
                        <a href=""> Track Pants & Pyjamas </a> </a>
                        <br> </a>
                        <a href=""> Jackets, Sweaters & Sweatshirts </a> </a>
                        <br> </a>
                        <a href=""> Party Wear </a> </a>
                        <br> </a>
                        <a href=""> Innerwear & Thermals </a> </a>
                        <br> </a>
                        <a href=""> Nightwear & Loungewear </a> </a>
                        <br> </a>
                        <a href=""> Value Packs </a> </a>
                        <br> </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="category">
                    <span class="category-heading">Girls Clothing</span>
                    <div class="category-items">
                        <a href=""> Dresses </a>
                        <br>
                        <a href=""> Tops </a>
                        <br>
                        <a href=""> Tshirts </a>
                        <br>
                        <a href=""> Clothing Sets </a>
                        <br>
                        <a href=""> Lehenga choli </a>
                        <br>
                        <a href=""> Kurta Sets </a>
                        <br>
                        <a href=""> Party Wear </a>
                        <br>
                        <a href=""> Dungarees & Jumpsuits </a>
                        <br>
                        <a href=""> Skirts & Shorts </a>
                        <br>
                        <a href=""> Tights & Leggings </a>
                        <br>
                        <a href=""> Jeans, Trousers & Capris </a>
                        <br>
                        <a href=""> Jacket, Sweater & Sweatshirts </a>
                        <br>
                        <a href=""> Innerwear & Thermals </a>
                        <br>
                        <a href=""> Nightwear & Loungewear </a>
                        <br>
                        <a href=""> Value Picks </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="category">
                    <span class="category-heading">Footwear</span>
                    <div class="category-items">
                        <a href=""> Casual Shoes </a>
                        <br>
                        <a href=""> Flipflops </a>
                        <br>
                        <a href=""> Sports Shoes </a>
                        <br>
                        <a href=""> Flats </a>
                        <br>
                        <a href=""> Sandals </a>
                        <br>
                        <a href=""> Heels </a>
                        <br>
                        <a href=""> School Shoes </a>
                        <br>
                        <a href=""> Socks </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Toys</span>
                    <div class="category-items">
                        <a href=""> Learning & Development </a>
                        <br>
                        <a href=""> Activity Toys </a>
                        <br>
                        <a href=""> Soft Toys </a>
                        <br>
                        <a href=""> Action Figure / Play set </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="category">
                    <span class="category-heading">Infants</span>
                    <div class="category-items">
                        <a href=""> Bodysuits </a>
                        <br>
                        <a href=""> Rombers & Sleepsuits </a>
                        <br>
                        <a href=""> Clothing Sets </a>
                        <br>
                        <a href=""> Tshirts & Tops </a>
                        <br>
                        <a href=""> Dresses </a>
                        <br>
                        <a href=""> Bottom wear </a>
                        <br>
                        <a href=""> Winter Wear </a>
                        <br>
                        <a href=""> Innerwear & Sleepwear </a>
                        <br>
                        <a href=""> Infant care </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Home & Bath</span>
                </div>
                <div class="category">
                    <span class="category-heading">Personal Care</span>
                </div>
            </div>
            <div class="col-5">
                <div class="category">
                    <span class="category-heading">Kids Accessories Accessories</span>
                    <div class="category-items">
                        <a href=""> Bags & Backbacks </a>
                        <br>
                        <a href=""> Watches </a>
                        <br>
                        <a href=""> Jewellery & Hair accessory </a>
                        <br>
                        <a href=""> Sunglasses </a>
                        <br>
                        <a href=""> Maks & Protective Gears </a>
                        <br>
                        <a href=""> Caps & Hats </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Brands</span>
                    <div class="category-items">
                        <a href=""> H&M </a>
                        <br>
                        <a href=""> Max Kids </a>
                        <br>
                        <a href=""> Pantaloons </a>
                        <br>
                        <a href=""> United Colors Of Benetton Kids </a>
                        <br>
                        <a href=""> YK </a>
                        <br>
                        <a href=""> U.S Polo Assn. Kids </a>
                        <br>
                        <a href=""> Mothercare </a>
                        <br>
                        <a href=""> HRX </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{-- Kid's Items Section Ends  --}}
        {{-- Home's Items Section Starts  --}}
        <div class="home-section-items visibility"> <!-- Home & Living-->
            <div class="col-1">
                <div class="category">
                    <span class="category-heading">Bed Linen & Furnishing</span>
                    <div class="category-items">
                        <a href=""> Bed Runners </a>
                        <br>
                        <a href=""> Mattress Protectors </a>
                        <br>
                        <a href=""> Bedsheets </a>
                        <br>
                        <a href=""> Blankets, Quilts & Dohars </a>
                        <br>
                        <a href=""> Pillows & Pillow Covers </a>
                        <br>
                        <a href=""> Bed Covers </a>
                        <br>
                        <a href=""> Diwan Sets </a>
                        <br>
                        <a href=""> Chair Pads & Covers </a>
                        <br>
                        <a href=""> Sofa Covers </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Flooring</span>
                    <div class="category-items">
                        <a href=""> Floor Runners </a>
                        <br>
                        <a href=""> Carpets </a>
                        <br>
                        <a href=""> Floor Mats & Dhurries </a>
                        <br>
                        <a href=""> Door Mats </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="category">
                    <span class="category-heading">Bath</span>
                    <div class="category-items">
                        <a href=""> Bath Towels </a>
                        <br>
                        <a href=""> Hand & Face Towels </a>
                        <br>
                        <a href=""> Beach Towels </a>
                        <br>
                        <a href=""> Towels Set </a>
                        <br>
                        <a href=""> Bath Rugs </a>
                        <br>
                        <a href=""> Bath Robes </a>
                        <br>
                        <a href=""> Bathroom Accessories </a>
                        <br>
                        <a href=""> Shower Curtains </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Lamps & Lighting</span>
                    <div class="category-items">
                        <a href=""> Floor Lamps </a>
                        <br>
                        <a href=""> Ceiling Lamps </a>
                        <br>
                        <a href=""> Table Lamps </a>
                        <br>
                        <a href=""> Wall Lamps </a>
                        <br>
                        <a href=""> Outdoor Lamps </a>
                        <br>
                        <a href=""> String Lights </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="category">
                    <span class="category-heading">Home Decor</span>
                    <div class="category-items">
                        <a href=""> Plants & Planters </a>
                        <br>
                        <a href=""> Aromas & Candles </a>
                        <br>
                        <a href=""> Clocks </a>
                        <br>
                        <a href=""> Mirrors </a>
                        <br>
                        <a href=""> Wall Decor </a>
                        <br>
                        <a href=""> Festive Decor </a>
                        <br>
                        <a href=""> Pooja Essentials </a>
                        <br>
                        <a href=""> Wall Shelves </a>
                        <br>
                        <a href=""> Fountains </a>
                        <br>
                        <a href=""> Showpieces & Vases </a>
                        <br>
                        <a href=""> Ottoman </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Cushions & Cushion Covers</span>
                </div>
                <div class="category">
                    <span class="category-heading"> Curtains</span>
                </div>
            </div>
            <div class="col-4">
                <div class="category">
                    <span class="category-heading">Home Gift Sets</span>
                </div>
                <div class="category">
                    <span class="category-heading">Kitchen & Table</span>
                    <div class="category-items">
                        <a href=""> Table Runners </a>
                        <br>
                        <a href=""> Dinnerware & Serveware </a>
                        <br>
                        <a href=""> Cups and Mugs </a>
                        <br>
                        <a href=""> Bakeware & Cookware </a>
                        <br>
                        <a href=""> Kitchen Storage & Tools </a>
                        <br>
                        <a href=""> Bar & Drinkware </a>
                        <br>
                        <a href=""> Table Covers & Furnishings </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Storage</span>
                    <div class="category-items">
                        <a href=""> Bins </a>
                        <br>
                        <a href=""> Hangs </a>
                        <br>
                        <a href=""> Organisers </a>
                        <br>
                        <a href=""> Hooks & Holders </a>
                        <br>
                        <a href=""> Laundry Bags </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="category">
                    <span class="category-heading">Brands</span>
                    <div class="category-items">
                        <a href=""> H&M </a>
                        <br>
                        <a href=""> Marks & Spencer </a>
                        <br>
                        <a href=""> Home Center </a>
                        <br>
                        <a href=""> Spaces </a>
                        <br>
                        <a href=""> D'Decor </a>
                        <br>
                        <a href=""> Story@Home </a>
                        <br>
                        <a href=""> Pure Home & Living </a>
                        <br>
                        <a href=""> Swayam </a>
                        <br>
                        <a href=""> Raymond Home </a>
                        <br>
                        <a href=""> Maspar </a>
                        <br>
                        <a href=""> Trident </a>
                        <br>
                        <a href=""> Cortina </a>
                        <br>
                        <a href=""> Random </a>
                        <br>
                        <a href=""> Elimentry </a>
                        <br>
                        <a href=""> ROMEE </a>
                        <br>
                        <a href=""> SEJ by Nisha Gupta </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{-- Home's Items Section Ends  --}}
        {{-- Beauty's Items Section Starts  --}}
        <div class="beauty-section-items visibility"> <!--Beauty-->
            <div class="col-1">
                <div class="category">
                    <span class="category-heading">Makeup</span>
                    <div class="category-items">
                        <a href=""> Lipstick </a>
                        <br>
                        <a href=""> Lip Gloss </a>
                        <br>
                        <a href=""> Lip Liner </a>
                        <br>
                        <a href=""> Mascara </a>
                        <br>
                        <a href=""> Eyeliner </a>
                        <br>
                        <a href=""> Kajal </a>
                        <br>
                        <a href=""> Eyeshadow </a>
                        <br>
                        <a href=""> Foundation </a>
                        <br>
                        <a href=""> primer </a>
                        <br>
                        <a href=""> Concealer </a>
                        <br>
                        <a href=""> Compact </a>
                        <br>
                        <a href=""> Nail Polish </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="category">
                    <span class="category-heading">Skincare, Bath & Body</span>
                    <div class="category-items">
                        <a href=""> Face Moisturiser </a>
                        <br>
                        <a href=""> Cleanser </a>
                        <br>
                        <a href=""> Marks & Peel </a>
                        <br>
                        <a href=""> Sunscreen </a>
                        <br>
                        <a href=""> Serum </a>
                        <br>
                        <a href=""> Face Wash </a>
                        <br>
                        <a href=""> Eye Cream </a>
                        <br>
                        <a href=""> Lip Balm </a>
                        <br>
                        <a href=""> Body Lotion </a>
                        <br>
                        <a href=""> Body Wash </a>
                        <br>
                        <a href=""> Body Scrub </a>
                        <br>
                        <a href=""> Hand Cream </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Baby Care</span>
                </div>
                <div class="category">
                    <span class="category-heading">Masks</span>
                </div>
            </div>
            <div class="col-3">
                <div class="category">
                    <span class="category-heading">Haircare</span>
                    <div class="category-items">
                        <a href=""> Shampoo </a>
                        <br>
                        <a href=""> Coditioner </a>
                        <br>
                        <a href=""> Hair Cream </a>
                        <br>
                        <a href=""> Hair Oil </a>
                        <br>
                        <a href=""> Hair Gel </a>
                        <br>
                        <a href=""> Hair Color </a>
                        <br>
                        <a href=""> Hair Serum </a>
                        <br>
                        <a href=""> Hair Accessory </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Fragrances</span>
                    <div class="category-items">
                        <a href=""> Perfume </a>
                        <br>
                        <a href=""> Deodorant </a>
                        <br>
                        <a href=""> Body Mist </a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="category">
                    <span class="category-heading">Appliances</span>
                    <div class="category-items">
                        <a href=""> Hair Straightener </a>
                        <br>
                        <a href=""> Hair Dryer </a>
                        <br>
                        <a href=""> Epilator </a>
                        <br>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Men's Grooming</span>
                    <div class="category-items">
                        <a href=""> Trimmers </a> </a>
                        <br> </a>
                        <a href=""> Beard Oil </a> </a>
                        <br> </a>
                        <a href=""> Hair Wax </a> </a>
                        <br> </a>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Beauty Gift & Makeup Set</span>
                    <div class="category-items">
                        <a href=""> Beauty Gift </a>
                        <br>
                        <a href=""> Makeup Kit </a>
                    </div>
                    <hr class="horizontal-line2">
                </div>
                <div class="category">
                    <span class="category-heading">Premium Beauty</span>
                </div>
                <div class="category">
                    <span class="category-heading">Wellness & Hygine</span>
                </div>
            </div>
            <div class="col-5">
                <div class="category">
                    <span class="category-heading">Top Brands</span>
                    <div class="category-items">
                        <a href=""> Lakme </a>
                        <br>
                        <a href=""> Maybeline </a>
                        <br>
                        <a href=""> LOreal </a>
                        <br>
                        <a href=""> Philips </a>
                        <br>
                        <a href=""> Bath & Body Works </a>
                        <br>
                        <a href=""> THE BODY SHOP </a>
                        <br>
                        <a href=""> Biotique </a>
                        <br>
                        <a href=""> Mamaearth </a>
                        <br>
                        <a href=""> MCafeine </a>
                        <br>
                        <a href=""> Nivea </a>
                        <br>
                        <a href=""> Lotus Herbals </a>
                        <br>
                        <a href=""> LOreal Professionnel </a>
                        <br>
                        <a href=""> KAMA AYURVEDA </a>
                        <br>
                        <a href=""> M A C </a>
                        <br>
                        <a href=""> Forest Essentials </a>
                    </div>
                </div>
            </div>
        </div>
        {{-- Beauty's Items Section Ends  --}}
        {{-- Studio's Items Section Starts  --}}
        <div class="studio-section-items">
        </div>
        {{-- Studio's Items Section Ends  --}}
        {{-- Profile's Items Section Starts  --}}
        <div class="profile-section-items visibility">
            <div class="col-1">
                <div class="category">
                    <div class="category-items">
                        <h4><b>Welcome</b></h4>
                        <p>To access account and manage orders</p>
                        {{-- <a href=""> <button> <span class="category-heading"> LOGIN / SIGNUP </span> </button> --}}
                        <a href=""> <button type="button" class="custom-btn"> <span> LOGIN / SIGNUP </span>
                            </button> </a>


                        </a><br>
                    </div>
                </div>

                <hr>
                <br>

                <div class="category">
                    <div class="category-items">
                        <a href=""> Orders </a>
                        <br>
                        <a href=""> Wishlist </a>
                        <br>
                        <a href=""> Gift Cards </a>
                        <br>
                        <a href=""> Contact Us </a>
                        <br>
                        <a href=""> Myntra Insider </a><br>
                    </div>
                </div>

                <hr>
                <br>

                <div class="category">
                    <div class="category-items">
                        <a href=""> Myntra Credit </a>
                        <br>
                        <a href=""> Coupons </a>
                        <br>
                        <a href=""> Saved Cards </a>
                        <br>
                        <a href=""> Saved VPA </a>
                        <br>
                        <a href=""> Saved Addresses </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{-- Profile's Items Section Ends  --}}
    </div>
    {{-- Nav Bar Sub Categories Ends --}}